In [1]:
import numpy as np
import pandas as pd

In [41]:
df = pd.read_csv('day01_input.txt', delimiter="  ", header=None, engine='python')
df.columns = ['list1', 'list2']

In [43]:
df.head()

   list1  list2
0  66845  37619
1  94793  99076
2  76946  36179
3  27374  48777
4  47847  92154

# Part 1

In [19]:
list1 = df['list1']
list2 = df['list2']

In [37]:
answer = np.abs(list1.sort_values().values-list2.sort_values().values).sum()
print('Answer:',answer)

Answer: 1889772

# Part 2

In [44]:
dictionary = list2.value_counts().to_dict()

In [45]:
distances = 0
for i in list1.values:
    distances += i * dictionary.get(i,0)
print('Answer:', distances)

Answer: 23228917