In [1]:
import numpy as np
import pandas as pd

In [4]:
df = pd.read_csv('day01_input.txt', delimiter="  ", header=None)
df.columns = ['list1', 'list2']

/var/folders/5j/s9hphkqj409f3hqysls2hfzh0000gn/T/ipykernel_44280/1394218766.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv('day01_input.txt', delimiter="  ", header=None)

In [5]:
df

     list1  list2
0    66845  37619
1    94793  99076
2    76946  36179
3    27374  48777
4    47847  92154
..     ...    ...
995  86124  77004
996  30895  46438
997  69966  25582
998  31783  85509
999  97288  51968

[1000 rows x 2 columns]

# Part 1

In [19]:
list1 = df['list1']
list2 = df['list2']

In [37]:
answer = np.abs(list1.sort_values().values-list2.sort_values().values).sum()
print('Answer:',answer)

Answer: 1889772

# Part 2

In [34]:
dictionary = list2.value_counts().to_dict()
dictionary

{64262: 20,
 48777: 19,
 60422: 18,
 25688: 18,
 16605: 18,
 76776: 17,
 40758: 17,
 51968: 17,
 49722: 16,
 41543: 16,
 40666: 15,
 67431: 15,
 99076: 14,
 96255: 14,
 69333: 14,
 69351: 13,
 92298: 12,
 30237: 12,
 42759: 11,
 73053: 10,
 77293: 10,
 31836: 10,
 29631: 9,
 50416: 9,
 88003: 9,
 37494: 8,
 45453: 7,
 29117: 7,
 26150: 6,
 52772: 5,
 46068: 5,
 83286: 5,
 94559: 4,
 46438: 4,
 95693: 3,
 24806: 3,
 75594: 3,
 99196: 2,
 47031: 1,
 54987: 1,
 83598: 1,
 81291: 1,
 22989: 1,
 99004: 1,
 31565: 1,
 32703: 1,
 16836: 1,
 57953: 1,
 66750: 1,
 22585: 1,
 94884: 1,
 39600: 1,
 13761: 1,
 17687: 1,
 31350: 1,
 65037: 1,
 64515: 1,
 49223: 1,
 26098: 1,
 41659: 1,
 11308: 1,
 26241: 1,
 79799: 1,
 46551: 1,
 36729: 1,
 85013: 1,
 86796: 1,
 81151: 1,
 22237: 1,
 84944: 1,
 86694: 1,
 88882: 1,
 60358: 1,
 78637: 1,
 89650: 1,
 49160: 1,
 60127: 1,
 51618: 1,
 83863: 1,
 14785: 1,
 42979: 1,
 54602: 1,
 18651: 1,
 14547: 1,
 60195: 1,
 13882: 1,
 58184: 1,
 77750: 1,
 97760: 1,
 37832: 1,
 33170: 1,
 96442: 1,
 68060: 1,
 56760: 1,
 85609: 1,
 27448: 1,
 28106: 1,
 68961: 1,
 90839: 1,
 50910: 1,
 61451: 1,
 43558: 1,
 84502: 1,
 22273: 1,
 37619: 1,
 90776: 1,
 28044: 1,
 27606: 1,
 78671: 1,
 57288: 1,
 87915: 1,
 43889: 1,
 43521: 1,
 94350: 1,
 39455: 1,
 39080: 1,
 23521: 1,
 10638: 1,
 65191: 1,
 87895: 1,
 14463: 1,
 36067: 1,
 85685: 1,
 58645: 1,
 91733: 1,
 81992: 1,
 70721: 1,
 35177: 1,
 10590: 1,
 52945: 1,
 78625: 1,
 65833: 1,
 48140: 1,
 59925: 1,
 88472: 1,
 55408: 1,
 29471: 1,
 53479: 1,
 71111: 1,
 39265: 1,
 42184: 1,
 51415: 1,
 28483: 1,
 30835: 1,
 31534: 1,
 74755: 1,
 13602: 1,
 27217: 1,
 90793: 1,
 42589: 1,
 95623: 1,
 91292: 1,
 45801: 1,
 33706: 1,
 96334: 1,
 37433: 1,
 64339: 1,
 98055: 1,
 62677: 1,
 75988: 1,
 19215: 1,
 23448: 1,
 83368: 1,
 26735: 1,
 14934: 1,
 37640: 1,
 92795: 1,
 89795: 1,
 29214: 1,
 30639: 1,
 39784: 1,
 93617: 1,
 95734: 1,
 94302: 1,
 81591: 1,
 95903: 1,
 94086: 1,
 92039: 1,
 81319: 1,
 51247: 1,
 90551: 1,
 11717: 1,
 64457: 1,
 67108: 1,
 45588: 1,
 81360: 1,
 20115: 1,
 67635: 1,
 20506: 1,
 27538: 1,
 85083: 1,
 43557: 1,
 10626: 1,
 38065: 1,
 32072: 1,
 23791: 1,
 12649: 1,
 33383: 1,
 91350: 1,
 98528: 1,
 18424: 1,
 86585: 1,
 59071: 1,
 41045: 1,
 13749: 1,
 39962: 1,
 69225: 1,
 27225: 1,
 27332: 1,
 67854: 1,
 61629: 1,
 84501: 1,
 64775: 1,
 69530: 1,
 83436: 1,
 27464: 1,
 37289: 1,
 35379: 1,
 51344: 1,
 89141: 1,
 45124: 1,
 51153: 1,
 15623: 1,
 29434: 1,
 41944: 1,
 95159: 1,
 42915: 1,
 14222: 1,
 72474: 1,
 89841: 1,
 33570: 1,
 36521: 1,
 72863: 1,
 15634: 1,
 59541: 1,
 77004: 1,
 25582: 1,
 45630: 1,
 48788: 1,
 60721: 1,
 34518: 1,
 81204: 1,
 67537: 1,
 43982: 1,
 33920: 1,
 40777: 1,
 75657: 1,
 79235: 1,
 57449: 1,
 47224: 1,
 58837: 1,
 21575: 1,
 96422: 1,
 42303: 1,
 80395: 1,
 66255: 1,
 51492: 1,
 46179: 1,
 22099: 1,
 41347: 1,
 28206: 1,
 92655: 1,
 21088: 1,
 21102: 1,
 61341: 1,
 89055: 1,
 13379: 1,
 44361: 1,
 70645: 1,
 71083: 1,
 42956: 1,
 54524: 1,
 38781: 1,
 14324: 1,
 47040: 1,
 71907: 1,
 27423: 1,
 99107: 1,
 16557: 1,
 10281: 1,
 64037: 1,
 99294: 1,
 74560: 1,
 61132: 1,
 82505: 1,
 78224: 1,
 43797: 1,
 61407: 1,
 63390: 1,
 41072: 1,
 53047: 1,
 63752: 1,
 92189: 1,
 26493: 1,
 97229: 1,
 41005: 1,
 65480: 1,
 40686: 1,
 27800: 1,
 87629: 1,
 90954: 1,
 73220: 1,
 38154: 1,
 19213: 1,
 35466: 1,
 33313: 1,
 49008: 1,
 19624: 1,
 15008: 1,
 74801: 1,
 16651: 1,
 62652: 1,
 27839: 1,
 55399: 1,
 89226: 1,
 81692: 1,
 69046: 1,
 99347: 1,
 11112: 1,
 67225: 1,
 57892: 1,
 53250: 1,
 56849: 1,
 13618: 1,
 59373: 1,
 40323: 1,
 75737: 1,
 75723: 1,
 39690: 1,
 16273: 1,
 17153: 1,
 11763: 1,
 36228: 1,
 94774: 1,
 83156: 1,
 62114: 1,
 68878: 1,
 81828: 1,
 64443: 1,
 76965: 1,
 92627: 1,
 23426: 1,
 15293: 1,
 33577: 1,
 15826: 1,
 38036: 1,
 45576: 1,
 77512: 1,
 45413: 1,
 26674: 1,
 66867: 1,
 81066: 1,
 10675: 1,
 65041: 1,
 19974: 1,
 78939: 1,
 72722: 1,
 40362: 1,
 84299: 1,
 68892: 1,
 73460: 1,
 32258: 1,
 75804: 1,
 33638: 1,
 30972: 1,
 73290: 1,
 57493: 1,
 71801: 1,
 39980: 1,
 15570: 1,
 81829: 1,
 48534: 1,
 23375: 1,
 25777: 1,
 90058: 1,
 46233: 1,
 50298: 1,
 20126: 1,
 71068: 1,
 43993: 1,
 96914: 1,
 66267: 1,
 39985: 1,
 63051: 1,
 32007: 1,
 48543: 1,
 35142: 1,
 45285: 1,
 49115: 1,
 81510: 1,
 22991: 1,
 90956: 1,
 73568: 1,
 25240: 1,
 56084: 1,
 23775: 1,
 71791: 1,
 84459: 1,
 63211: 1,
 21091: 1,
 31277: 1,
 44711: 1,
 12397: 1,
 14319: 1,
 55418: 1,
 65674: 1,
 80493: 1,
 58251: 1,
 13598: 1,
 33371: 1,
 59103: 1,
 97187: 1,
 52438: 1,
 14715: 1,
 33629: 1,
 21255: 1,
 37159: 1,
 75513: 1,
 57175: 1,
 41517: 1,
 30282: 1,
 51117: 1,
 74826: 1,
 85918: 1,
 67261: 1,
 90635: 1,
 36179: 1,
 92154: 1,
 97857: 1,
 94331: 1,
 58559: 1,
 36957: 1,
 79874: 1,
 64897: 1,
 96787: 1,
 98589: 1,
 51678: 1,
 49456: 1,
 77278: 1,
 38327: 1,
 49568: 1,
 65951: 1,
 31605: 1,
 92261: 1,
 58623: 1,
 65082: 1,
 34007: 1,
 75466: 1,
 34672: 1,
 18149: 1,
 32085: 1,
 50924: 1,
 42253: 1,
 98724: 1,
 13106: 1,
 44089: 1,
 37905: 1,
 72776: 1,
 95426: 1,
 33648: 1,
 70988: 1,
 15975: 1,
 51993: 1,
 34958: 1,
 21189: 1,
 39047: 1,
 70579: 1,
 34261: 1,
 71990: 1,
 75185: 1,
 64342: 1,
 93216: 1,
 72607: 1,
 44744: 1,
 90896: 1,
 65846: 1,
 87088: 1,
 98182: 1,
 90127: 1,
 13562: 1,
 88199: 1,
 39542: 1,
 68375: 1,
 63010: 1,
 46795: 1,
 94986: 1,
 14418: 1,
 79805: 1,
 26347: 1,
 43675: 1,
 93670: 1,
 83582: 1,
 89112: 1,
 69542: 1,
 22670: 1,
 68359: 1,
 44778: 1,
 95467: 1,
 73999: 1,
 25524: 1,
 98750: 1,
 11056: 1,
 97931: 1,
 94009: 1,
 77846: 1,
 50324: 1,
 15989: 1,
 49495: 1,
 33080: 1,
 10940: 1,
 60631: 1,
 43928: 1,
 79091: 1,
 20848: 1,
 71126: 1,
 71387: 1,
 11346: 1,
 27010: 1,
 10746: 1,
 34499: 1,
 48869: 1,
 78940: 1,
 73847: 1,
 95118: 1,
 57690: 1,
 49969: 1,
 91132: 1,
 90370: 1,
 39886: 1,
 66972: 1,
 47593: 1,
 57572: 1,
 16819: 1,
 60562: 1,
 77938: 1,
 14543: 1,
 73230: 1,
 10455: 1,
 35993: 1,
 87804: 1,
 23722: 1,
 44223: 1,
 53340: 1,
 13304: 1,
 10800: 1,
 42251: 1,
 54917: 1,
 34604: 1,
 63191: 1,
 79901: 1,
 70146: 1,
 63002: 1,
 46859: 1,
 18070: 1,
 94556: 1,
 39009: 1,
 71267: 1,
 90424: 1,
 84500: 1,
 75682: 1,
 15460: 1,
 85128: 1,
 30691: 1,
 76440: 1,
 81701: 1,
 87382: 1,
 79014: 1,
 61415: 1,
 52335: 1,
 33895: 1,
 44355: 1,
 30290: 1,
 44245: 1,
 50446: 1,
 43685: 1,
 20015: 1,
 77005: 1,
 67190: 1,
 43868: 1,
 26594: 1,
 97825: 1,
 83376: 1,
 81327: 1,
 27063: 1,
 74050: 1,
 58241: 1,
 18053: 1,
 63785: 1,
 98738: 1,
 15425: 1,
 10793: 1,
 82893: 1,
 20462: 1,
 29160: 1,
 44418: 1,
 89658: 1,
 59232: 1,
 78181: 1,
 51570: 1,
 61049: 1,
 15221: 1,
 71427: 1,
 92099: 1,
 61983: 1,
 45476: 1,
 69146: 1,
 91288: 1,
 49080: 1,
 84467: 1,
 34674: 1,
 71891: 1,
 54463: 1,
 36522: 1,
 31472: 1,
 53380: 1,
 73331: 1,
 50713: 1,
 82316: 1,
 74278: 1,
 18690: 1,
 18749: 1,
 87256: 1,
 85509: 1}

In [40]:
distances = 0
for i in list1.values:
    distances += i * dictionary.get(i,0)
print('Answer:', distances)

Answer: 23228917